<html>
<head>
<title>Interview Management System</title>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
<form  action="/candidate_register" method="get">
<br><br><br>
          	<center>
          	    <img src="/../images/hr.jpg"  width="128" height="128" ><br><br>
                <button type="submit" id="submit" name="submit" class="button">HR Registration</button> 
            </center>  
</form>  


<form  action="/candidate_register" method="get">
          	<center>
          	    <img src="/../images/candidate.jpg" width="128" height="128"><br><br>
                <button type="submit" id="submit" name="submit" class="button">Candidate Registration
                </button> 
            </center>  
</form>  

</body>

</html>